.my-container
{
	width    : 100%;
    height   : 800px;

}

.div-site
{
    width    : 75%;
    height   : 100%;
    overflow : auto;
    position : relative;
    float: left;
    padding-right : 10px;
}
.div-site-expl
{
    width    : 25%;
    height   : 100%;
    overflow : hidden;
    position : static;
    float: right;
}

.div-site-or
{
    width    : 100%;
    height   : 80%;
    overflow : hidden;
    position : static;
    padding-top : 10px;
}
.div-site-or-expl
{
    width    : 100%;
    height   : 20%;
    overflow : hidden;
    position : static;
}


#frame-migration
{
    /*position : absolute;*/
    top      : 0px;
    left     : 0px;
    margin-top: -820px;
    width    : 100%;
    height   : 1410px;
}

.frame-site
{
    /*position : absolute;*/
    width    : 100%;
    height   : 75%;
    top      : 0px;
    left     : 0px;
}

.borderImg {
    border-style: solid;
    border-radius:10px; 
    border-width: 1px; 
    border-color: black
}

.fHead {
    font-size: 40px;
}

.fP {
    font-size: 30px;
}

